* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", "inter";
}

:root {
  --text-color: #063c52;
  --btn-bg: #06597a;
  --primary-color: #fefefe;
}

body {
  font-family: Arial, sans-serif;
  background: var(--primary-color);
  color: var(--text-color);
  line-height: 1.6;
}

.contact-container {
  max-width: 1000px;
  margin: 150px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.contact-header {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

.contact-info h2 {
  margin: 20px;
  color: var(--text-color);
}

.contact-info p {
  margin-bottom: 10px;
}

.contact-info strong {
  display: inline-block;
  width: 80px;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
li a,
li p {
  margin-left: 50px;
}

strong {
  font-size: 1.1rem;
  margin-left:30px
}

b {
  font-size: 0.9rem;
  font-weight: 600;
  margin-left: 50px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}


form input,
form textarea {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid var(--text-color);
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
}

form textarea {
  resize: none;
  height: 120px;
}

form button {
  padding: 14px;
  border: none;
  background: var(--btn-bg);
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

form button:hover {
  background: #023b51;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }
}
