* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #03445c;
  --second-text-color: #1d1d1d;
  --new-text: #eee;
}

.top-message {
  background-color: #cecccc;
  color: var(--second-text-color);
}

.top-message a {
  color: var(--second-text-color);
}

.header-nav {
  left: 1400px;
}

.hero-section {
  text-align: center;
  padding: 70px 0;
  background: url(../images/glo-products/banners/blue.jpg);
  background-size: cover;
}

.hero-section h1 {
  font-size: 2rem;
  color: var(--new-text);
  margin-bottom: 10px;
}
.hero-section p {
  font-size: 1rem;
  color: var(--new-text);
  margin-bottom: 20px;
}

.cta-product {
  color: var(--new-text);
  border-color: var(--new-text);
}

#products,
#benefits,
#testimonials,
#contact {
  background-color: #eee;
}

#products {
  background-color: #f9f9f9;
}

#about-erp {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0px;
  max-width: 2100px;
  margin: 20px auto;
  position: relative;
  left: -90px;
}

.about-erp {
  border-radius: 18px;
  padding: 50px 40px;
  margin: 40px auto;
  max-width: 900px;
  text-align: center;
}

.about-erp h2 {
  color: var(--text-color);

  margin-bottom: 20px;
  font-weight: 700;
}

.about-erp p {
  color: var(--second-text-color);
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 18px;
  text-align: justify;
}

.about-erp-img {
  flex: 1 1 0;
  max-width: 700px;
  min-width: 400px;
  height: auto;
  position: relative;
  right: 120px;
  top: 20px;
  opacity: 0.7;
  filter: grayscale(60%);
}

.about-erp-img img {
  width: 100%;
  height: auto;
}

.about-erp,
.benefits {
  padding: 50px 150px;
  text-align: center;
}

:is(.about-erp, .benefits, .contact) h2 {
  color: var(--second-text-color);
  font-size: 1.6rem;
}

#benefits {
  padding: 30px 20px;
}

#benefits h2 {
  text-align: center;
  margin-bottom: 40px;
}

.benefits-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.benefits-grid li {
  background: #fff;
  padding: 25px;
  border-radius: 7px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
}

.benefits-grid li:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.benefits-grid strong {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 12px;
  color: var(--text-color);
  font-weight: 600;
}

.benefits-grid strong i {
  margin-right: 10px;
  font-size: 1.3rem;
  color: var(--text-color);
  transition: transform 0.3s;
}

.benefits-grid li:hover strong i {
  transform: scale(1.2);
}

.benefits-grid ul {
  padding-left: 20px;
}

.benefits-grid ul li {
  margin-bottom: 6px;
  color: #080808;
}

.benefits-grid li.colored {
  background: linear-gradient(135deg, #03445c, #04446e);
  color: white;
}

.benefits-grid li.colored strong,
.benefits-grid li.colored strong i {
  color: white;
}

.benefits-grid li.colored ul li {
  color: #080808;
  background-color: #d7eaf7;
}

.contact {
  background-color: var(--new-text);
  padding: 50px 0;
  margin: 0 auto;
}

.cta-button {
  margin: 10px;
}
