* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", "inter";
}

:root {
  --text-color: #09769f;
  --btn-bg: #09769f;
  --primary-color: #fefefe;
  --secondary-color: #06475f;
  --radius: 5px;
}

body {
  background-color: var(--primary-color);
  transition: all 0.5s ease;
  color: var(--text-color);
}

.container {
  background-color: var(--bg-color);
}

.top-message {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
  background-color: #8b0101;
  color: #eee;
}

.top-message a{
  color: #eee;
  text-decoration: underline;
  padding-left: 20px;
}

.header-section {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  padding: 10px 150px;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: var(--text-color);
}

.header-section .logo {
  width: 100px;
  position: relative;
  top: 20px;
}

.header-nav  {
  display: flex;
  position: relative;
  bottom: 25px;
  left: 1360px;
  gap: 10px;
}

.header-nav li {
  list-style: none;
}

.header-nav a {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 15px;
  transition: color 0.3s;
}

.fa-home {
  position: relative;
  bottom: 11px;
  right: 10px;
  font-size: 1.2rem;
}
/* .active {
  background-color: var(--btn-bg);
  color: var(--primary-color) !important;
  transition: all 0.8s ease-in;
  margin: 0 -10px;
} */

.header-nav a:hover {
  background-color: #d3d3d3;
  color: #1d5971;
}

.fa-home:hover {
  background-color: transparent !important;
}


.cta-button {
  display: inline-block;
  padding: 15px 15px;
  border: 1px solid var(--text-color);
  border-radius: var(--radius);
  text-decoration: none;
  color: var(--text-color);
  transition: transform 0.3s ease, color 0.3s, background-color 0.3s;
}

.cta-button:hover {
  background-color: var(--btn-bg);
  color: var(--primary-color);
  border: none;
  transform: translateY(-8px);
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  display: none;
  transition-behavior: smooth;
  height: 95vh;
}

.carousel-slide.active-slide {
  display: block;
}

.carousel-prev,
.carousel-next {
  position: relative;
  bottom: 400px;
  left: 20px;
  color: #141313;
  border: none;
  background-color: #eee;
  border-radius: var(--radius);
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  font-size: 2rem;
  transition: transform 0.3s ease, color 0.3s;
}

.carousel-next {
  left: 1800px;
}

:is(.carousel-prev, .carousel-next):hover {
  transform: translateY(-5px);
  color: #423c3c;
}

#products {
  padding: 150px 150px 50px 150px;
  color: var(--secondary-color);
}

.products-section-header {
  text-align: center;
  width: 70%;
  margin: auto;
}

.products-section-header h3,
.contact h4 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.products-section-header h4 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.products-section-header p,
.contact p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.products-grid-section {
  background-color: #05455f27;
  width: 100%;
  padding: 30px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px;
  padding: 60px 20px;
}

.product-card {
  position: relative;
  overflow: hidden;
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: center;
}

.product-card::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(110, 110, 110, 0.158);
  transition: top 0.5s cubic-bezier(0.77, 0, 0.18, 1), opacity 0.5s;
  opacity: 0.5;
  z-index: 2;
  pointer-events: none;
}

.product-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.product-card:hover::before {
  top: 0;
  opacity: 0.7;
}

/* .colored {
  background-color: var(--btn-bg);
} */

.product-card img {
  width: 100%;
  height: auto;
  border-radius: var(--radius);
}
.product-card h5 {
  color: #141313;
  font-weight: 500;
  margin: 5px;
}
.product-card.colored h5/* ,
.product-card.colored p */ {
  color: var(--primary-color);
}

.product-card p {
  padding: 0 20px;
}

.btn-product {
  display: inline-block;
  padding: 10px 15px;
  background-color: var(--btn-bg);
  color: var(--primary-color);
  border: none;
  border-radius: var(--radius);
  margin-top: 20px;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s, color 0.3s;
}

.products-grid .cta-button {
  display: block;
  margin: 30px auto 0 auto;
  text-align: center;
  grid-column: 1 / -1;
}

/* .colored .btn-product {
  background-color: var(--primary-color);
  color: #033548;
} */

:is(.btn-product):hover {
  transform: translateY(-8px);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#customers {
  background-color: var(--secondary-color);
  padding-top: 20px;
  text-align: center;
}

#customers h4 {
  color: var(--primary-color);
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: normal;
}
.company-logo-container {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.company-logo img {
  width: 200px;
  height: auto;
  opacity: 0.6;
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}

.company-logo img:hover {
  opacity: 1;
  filter: grayscale(0%);
  transform: scale(1.1);
}

.marquee {
  width: 100%;
  overflow: hidden;
  /* background: #f9f9f9; */
  padding: 10px 0;
}

.marquee-content {
  display: flex;
  gap: 100px;
  animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-10%);
  }
}

.contact {
  text-align: center;
  margin-bottom: 100px;
}

.main-footer {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 30px 80px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center top;
  margin: 20px 50px;
}

.footer-column {
  text-align: left;
}

.main-footer li {
  list-style-type: none;
}

.main-footer a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s;
}

a:hover {
  color: #b1b1b1;
}

h5 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.uts-logo {
  width: 50%;
}


.social-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.col-1 {
  width: 25%;
  text-align: justify;
}

.col-3 {
  overflow: auto;
  width: 30%;
}

.col-3 a,
.col-3 p {
  margin-left: 50px;
}

strong {
  font-size: 1.1rem;
}

b {
  font-size: 0.9rem;
  font-weight: 600;
  margin-left: 50px;
}

.icon {
  font-size: 2rem;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.copyright-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.copyright-nav li:after {
  content: "|";
  margin-left: 20px;
}

.copyright-nav li:last-child:after {
  content: "";
}
